*{
    font-family: Arial;
}

h1{
    text-align: center;
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#canvas{
    /*background: deeppink;*/
    width: 100%;
    height: 800px;
    margin-top: 10px;
}

#legende{
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border: black;
    border-style: solid;
    background: linear-gradient(to right, white, darkred);
}
.legendNoData{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border: black;
    border-style: solid;
    background: lightblue;
    margin-left: 20px;
}

.legenIndicator{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

/*tooltip*/

#tooltip{
    background: #222;
    color: white;
    padding: 7px;
    border-radius: 7px 7px 0 7px;
    width: fit-content;
    visibility: hidden;
    position: absolute;
    left:0;
    top:0;
}

#tooletipCountryName{
    font-weight: bold;
    text-transform: uppercase;
}
#tooltip table{
    margin-left: -2px;
    margin-top: 5px;
}

#tooltip td{
    padding: 0 10px 0 0;

}
#tooltip tr{
    padding: 0;
}
